/* import all external stylesheets. */
@import url(jquery.mobile-1.4.0.min.css);
@import url(tooltipster.css);
@import url(tooltipster-shadow.css);
@import url(jquery.sidr.dark.css);

#menu a {
    cursor: pointer;
}

.center-text {
    text-align: center;
}

/**
  * this is a poor man's way of vertically centering 
  * the fleet icon in the header. Let's see if we can
  * figure out a better way in the future.
  */
.fuse-header-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fuse-header-container img {
    cursor: pointer;
}

/**
  * see note below about why one must sometimes
  * use !important with style definitions in jQuery Mobile
  */
.fuse-footer {
    padding: 10px !important;
    z-index: 2;
    left:-9px; /* This keeps the icons centered */
}

.fuse-footer img {
    vertical-align: middle;
    cursor: pointer;
}

.vehicle-status-icon {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

/**
  * normally importants are icky, but when
  * working with jQuery Mobile, you have to
  * in order to beat their specificity without
  * getting ridiculous. 
  */
.fuse-map-container {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

#directions-panel {
    position: absolute;
    background: white;
    width: 90%;
    height: 40%;
    -moz-box-shadow: 0 0 15px 5px #888;
    -webkit-box-shadow: 0 0 15px 5px #888;
    box-shadow: 0 0 15px 5px #888;
    overflow: auto;
    z-index: 1;
    bottom: 2%;
    right: 5%;
}

/* Css for Vehicle Detail View */
div > ul.dashboard {
    border: 1px solid lightgray;
}

.dashboard > li.dashboard-data {
    text-align: center;
    padding: 8px 0px 0px 0px;
    border: 0px;
    border-radius: .3125em; /*default radius as set by jQuery mobile*/
}

#vehicle-notes-box {
    text-align: left;
    padding-left: 16px;
}

#vehicle-notes {
    white-space: normal;
}

/*This fixes a small css glitch that shows up in the vehicle detail screen*/
.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
    min-height: 0;
}

.car-thumbnail {
    border-bottom-right-radius: 48px;
    border-top-right-radius: 48px;
}

.list-item-info {
    text-align: center;
}

.fleet-item {
    background-color: white !important;
}

.fleet-item:hover {
    background-color: rgba(0,0,0,.04) !important;
}

.fleet-item-info {
    padding: .2em !important;
    border-top-width: 0px !important;
}

.detail-item-info {
    padding: .2em !important;
    border-top-width: 0px !important;
}

.margin-off {
    margin: 0px !important;
}

.round-box {
    background-color: rgba(0,0,0,.15);
    border-radius: .125em;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
    text-shadow: none;
    color: #505050;
}

.alert-box {
    background-color: rgba(255,100,100,1);
    border-radius: .125em;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 4px;
    padding: 2px;
    text-shadow: none;
    color: white;
}
.detail-item-info>.list-item-info>.alert-box {
    margin-top:0px;
}

.alert-box.large-box {
    background-color: rgba(255,100,100,.6);
}

.round-box>h3, .alert-box>h3 {
    font-size: 100% !important;
    font-weight: normal !important;
}

.small-box {
    width: 20% !important;
}

.large-box {
    width: 77.97316% !important; /*This is the best number I could find*/
    text-align: left;
    padding-left: 16px;
}

.detail-item-info>.list-item-info>.large-box>h3 {
    white-space: normal;
}

.detail-item-info>.list-item-info>.round-box {
    background-color: rgba(0,0,0,.08);
}

.ui-listview>li.ui-first-child>a.ui-btn {
    border-top-color: black;
}

ul.ui-listview>li.ui-first-child {
    border-top-color: black;
}

.ui-listview>li>.ui-btn {
    border-top-width: 4px;
}

.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c { /* We need to override the jquery mobile css*/
    width: 32.15%;
}
