.center-text {
	text-align: center;
}

/**
  * see note below about why one must sometimes
  * use !important with style definitions in jQuery Mobile
  */
.fuse-footer {
	padding: 10px !important;
}

.fuse-footer img {
	vertical-align: middle;
	cursor: pointer;
}

/**
  * normally importants are icky, but when
  * working with jQuery Mobile, you have to
  * in order to beat their specificity without
  * getting ridiculous. 
  */
.fuse-map-container {
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	border-radius: 0 !important;
}