<div class='fuse-logo-container'>
    <img class='fuse-logo' src='style/images/fuse_logo.png' style='margin-top: 16px;' title='Fuse Logo'>
</div>

<br>

<div class='white-font' style='color: rgba(255, 255, 255, .8); margin:0 auto; text-align: center; width:90%;'>
    Fuse is a connected-car application that is designed to give your car a voice and connect it to the rest of your online life.<br>

    Follow us on Twitter <a href='https://twitter.com/joinfuse' target='_system' onclick="window.open(this.href, '_system'); return false;" style='color:white; text-shadow: none;'>@joinfuse</a><br>

    <h3 class='white-font' style='text-shadow:none;'>Credits:</h3>

    

<p>
Special thanks to our Kickstarter backers,<br/>
especially the following individuals:
</p>
    Marshall Rose<br>
    Ismail Elshareef<br>
    Matt Topper<br>
    Kelly Flanagan<br>
    Webb Dryfoos<br>
    David Hall<br>
    T.Rob<br>
    Nick Katsivelos<br>
</div>
<div class='fuse-logo-container'>
    <h1 class='white-font'>v<%= version %></h1>
    <p id='menu-text' style='white-space:nowrap;'>&#0169; <%= new Date().getFullYear() %> <a href='http://kynetx.com' target='_system' onclick="window.open(this.href, '_system'); return false;" style='color:white; text-shadow: none;'>Kynetx</a></p>
</div>
