<div class='dark-header margin-off'>
    <h3 class='title-font white-font'>Totals</h3>
</div>
<div>
    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>$<%= totals.fuel.cost %> total spent on fuel</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'><%= totals.fuel.gallons %> total gallons used</span>
    </div>
</div>

<div>
    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'><%= totals.fuel.mpg %> MPG Avg.</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'><%= totals.fuel.cpg %> Dollar per gallon Avg.</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'><%= totals.fuel.cpm %> Dollar per mile Avg.</span>
    </div>
</div>

<% for( var i = 0; i < aggs.length; ++i ) { %>
    <%= aggs[ i ].outerHTML %>
<% } %>
