<div class="dark-header">
    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'><%= totals.fuel.cost %> total spent</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'><%= totals.fuel.gallons %> total gallons used</span>
    </div>
</div>

<div class="dark-header">
    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'><%= totals.fuel.mpg %> Avg. MPG</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'><%= totals.fuel.cpg %> Avg. $/Gal</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>%= totals.fuel.cpm %> Avg. $/Mile</span>
    </div>
</div>

<% for( var i = 0; i < aggs.length; ++i ) { %>
    <%= aggs[ i ].outerHTML %>
<% } %>
