<div class='ui-alt-icon month-bar'>
 <% 
    if ( Fuse.currentMonth !== new Date().getMonth() 
       ||
         Fuse.currentYear !== new Date().getFullYear()
       ) {
 %>
    <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
 <% } %>
    <a class="absolute left ui-btn ui-icon-carat-l ui-btn-icon-notext"></a>
    <h3 class='title-font center-text'> <%=Fuse.longMonths[ Fuse.currentMonth ]%> </h3>
</div>

<div class="fuel-interaction">
    <div class='title-bar'>
        <h3 class='title-font white-font'>Fuel Status</h3>
    </div>
    <div>
        <div class="vehicle-data">
            <div class="icon-box dark">
                <img src="style/images/fuel_icon_b.png" style="width: 16px;">
            </div>
            <span class='margin-off'>
                <% if (typeof vehicle.fuellevel !== 'undefined' && vehicle.fuellevel) { %>
                    <%= vehicle.fuellevel %>% fuel remaining
                <% } else { %>
                    unable to determine fuel remaining
                <% } %>
            </span>
        </div>
        <a class="trigger-fillup ui-btn ui-btn-b ui-corner-all" data-role="button" style='margin:4px;'>Fill 'er Up!</a>
    </div>
</div>

<div class="fuel-data">
    <div class='title-bar'>
        <h3 class='title-font white-font'>Fuel Totals</h3>
    </div>

 <% if (typeof vehicle.fillups !== 'undefined' && vehicle.fillups ) { %>
    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'>
            <% if (typeof vehicle.volume !== 'undefined') { %>
                <%= Number(vehicle.volume).toFixed(1) %> gallons of fuel purchased
            <% } else { %>
                unable to determine number of gallons purchased
            <% } %>
        </span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>
            <% if (typeof vehicle.cost !== 'undefined' && vehicle.cost) { %>
                $<%= FTH.commaSeperateNumber(Number(vehicle.cost).toFixed(2)) %> spent on fuel
            <% } else { %>
                unable to determine money spent on fuel
            <% } %>
        </span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'>
            <% if (typeof vehicle.cost !== 'undefined' && vehicle.cost && typeof vehicle.distance !== 'undefined' && vehicle.distance) { %>
                <%= (vehicle.distance / vehicle.volume).toFixed(1) %> MPG
            <% } else { %>
                unable to determine MPG
            <% } %>
        </span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>
            <% if (typeof vehicle.cpg !== 'undefined' && vehicle.cpg) { %>
                $<%= FTH.commaSeperateNumber(vehicle.cpg.toFixed(2)) %> per gallon
            <% } else { %>
                unable to determine cost per gallon
            <% } %>
        </span>
    </div>


    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>
            <% if (typeof vehicle.cpm !== 'undefined' && vehicle.cpm) { %>
                $<%= FTH.commaSeperateNumber(vehicle.cpm.toFixed(2)) %> per mile
            <% } else { %>
                unable to determine cost per mile
            <% } %>
        </span>
    </div>

<% } %>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'>
            <% if (typeof vehicle.fillups !== 'undefined' && vehicle.fillups ) { %>
                <%= vehicle.fillups %> purchases
            <% } else { %>
                no purchases recorded
            <% } %>
        </span>
    </div>

    <!-- 
        <div class="vehicle-data">
            <div class="icon-box dark">
                <img src="style/images/cost_icon_b.png" style="width: 12px;">
            </div>
            <span class='margin-off'>$/gallon</span>
        </div>

        <div class="vehicle-data">
            <div class="icon-box dark">
                <img src="style/images/cost_icon_b.png" style="width: 12px;">
            </div>
            <span class='margin-off'>$/mile</span>
        </div>
    -->
</div>

<br>
<br>

 <div class='info-group'>
<% if (typeof vehicle.fillups !== 'undefined' && vehicle.fillups ) { %>
    <div class='vehicle-data' style="margin-left: 5px;">
        Fuel Economy (MPG): 
    </div>
<% } %>
    <canvas id="fillup-chart"></canvas>
</div>

<div id="fuel-popup" class="popup" data-role="popup" data-transition="pop" data-position-to="window">
    <h5>Record Fillup</h5>
    <div id="fuel-popup-guts">
        <form id="record-fillup">
            <input id="num-gallons" placeholder="Gallons filled">
            <span style="position:absolute;left:20px;top:100px;">$</span>
            <input id="price-gallon" placeholder="Price/Gallon" style="padding-left:24px;">
            <span style="position:absolute;left:20px;top:150px;">$</span>
            <input id="cost" placeholder="Total Cost" style="padding-left:24px;">
            <input id="odometer" placeholder="Current odometer reading" title="Odometer">
	    <input name="when" id="when" type="date" data-role="datebox" data-options='{"mode": "datebox", "useNewStyle":true}'/>
            <select id="gas-station">
                <option val="default" disabled>Gas Station (Choose one)</option>
            </select>
            <input id="gs-other" type="text" placeholder="Gas station name" title="Gas Station" stye="display:none">
            <button type="submit" data-theme="b">Record Fillup</button>
        </form>
    </div>
</div>
