<div class='ui-alt-icon month-bar'>
    <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
    <a class="absolute left ui-btn ui-icon-carat-l ui-btn-icon-notext"></a>
    <h3 class='title-font center-text'> <%=Fuse.longMonths[ Fuse.currentMonth ]%> </h3>
</div>

<div class="fuel-interaction">
    <div class='title-bar'>
        <h3 class='title-font white-font'>Fuel Status</h3>
    </div>
    <div>
        <div class="vehicle-data">
            <div class="icon-box dark">
                <img src="style/images/fuel_icon_b.png" style="width: 16px;">
            </div>
            <span class='margin-off'><%= vehicle.fuellevel %>% fuel remaining</span>
        </div>
        <a class="trigger-fillup ui-btn ui-btn-b ui-corner-all" data-role="button" style='margin:4px;'>Fill 'er Up!</a>
    </div>
</div>

<div class="fuel-data">
    <div class='title-bar'>
        <h3 class='title-font white-font'>Fuel Averages</h3>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'><%= vehicle.aggregates.month.fuel.gallons %>g of fuel</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>$<%= vehicle.aggregates.month.fuel.cost %> spend on fuel</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" style="width: 16px;">
        </div>
        <span class='margin-off'><%= vehicle.aggregates.month.fuel.mpg %> MPG</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>$<%= vehicle.aggregates.month.fuel.cpg %> per gallon</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>$<%= vehicle.aggregates.month.fuel.cpm %> per mile</span>
    </div>
</div>

<div class='info-group'>
    <canvas id="fillup-chart"></canvas>
</div>

<div id="fuel-popup" class="popup" data-role="popup" data-transition="pop" data-position-to="window">
    <h5>Record Fillup</h5>
    <div id="fuel-popup-guts">
        <form id="record-fillup">
            <input id="num-gallons" type="number" placeholder="Gallons filled">
            <span style="position:absolute;left:10%;top:25.39%;">$</span>
            <input id="price-gallon" type="number" step="0.01" placeholder="Price/Gallon" style="padding-left:24px;">
            <span style="position:absolute;left:10%;top:38.39%;">$</span>
            <input id="cost" type="number" step="0.01" placeholder="Total Cost" style="padding-left:24px;">
            <input id="odometer" type="number" placeholder="Current odometer reading" title="Odometer">
            <select id="gas-station">
                <option val="default" disabled>Gas Station (Choose one)</option>
            </select>
            <button type="submit" data-theme="b">Record Fillup</button>
        </form>
    </div>
</div>
