<!-- fuse logo here. -->
<div class='fuse-logo-container'>
	<img class='fuse-logo' src='style/images/fuse-logo-white-640x425.png' style='margin-top: 16px;' title='Fuse Logo'>
</div>
<div id='menu-box'>
	<h3 class='white-font'>Welcome to Fuse.</h3>
	<p id='menu-text'>To get started, login using your Fuse account or click the link below to create one.</p>
	<input type="email" id="login-username" name="username" placeholder="email">
	<input type="password" id="login-password" name="password" placeholder="password">

	<button id="login" class="ui-btn ui-shadow-icon ui-btn-b margin-off">Login</button>
	<div>
		<a href="http://joinfuse.com/app.html" style='color:white; text-shadow: none; float: right; margin-top: 6px;' target="_system" onclick="window.open(this.href, '_system'); return false;">Need an account?</a>
	</div>
</div>
