
<% for ( var i = 0; i < data.length; ++i ) { %>
    <div class='title-bar'>
        <h3 class='title-font white-font' data-action="reminders"><%= data[ i ].vehicle %></h3>
    </div>
    <ul data-role='listview'>
    <% if ( data[ i ].reminders && data[ i ].reminders.length ) { %>
        <% for ( var j = 0; j < data[ i ].reminders.length; ++j ) { %>
            <% if ( data[ i ].reminders[ j ].trigger.type === "mileage" ) { %>
                <!-- mileage-based reminder. -->
                <li class="reminder dark" data-role="button" data-theme="r" data-vehicle-idx=<%= i %> data-reminder-idx=<%= j %>><%= data[ i ].reminders[ j ].reason %> - <%= FTH.commaSeperateNumber( data[ i ].reminders[ j ].trigger.value ) %> miles</li>
            <% } else { %>
                <!-- date-based reminder. -->
                <li class="reminder dark" data-role="button" data-theme="r" data-vehicle-idx=<%= i %> data-reminder-idx=<%= j %>><%= data[ i ].reminders[ j ].reason %> - <%= data[ i ].reminders[ j ].trigger.value %></li>
            <% } %>
        <% } %>
    </ul>
    <% } else { %>
        <p class='white-font'>No history for this vehicle.</p>
    <% } %>
<% } %>
