
<% for ( var i = 0; i < data.length; ++i ) { %>
    <div class='title-bar'>
        <h3 class='title-font white-font' data-action="history"><%= data[ i ].vehicle %></h3>
    </div>
    <ul data-role='listview'>
    <% if ( data[ i ].history ) { %>
        <% for ( j in data[ i ].history ) { %>
            <% if ( data[ i ].history[ j ].trigger.type === "mileage" ) { %>
                <li class="reminder" data-role="button" data-theme="r" data-rid=<%= data[i].history[ j ].id %> data-vehicle-idx=<%= i %> data-reminder-idx=<%= j %>><%= data[ i ].history[ j ].reason %> - <%= FTH.commaSeperateNumber( data[ i ].history[ j ].trigger.value ) %> miles</li>
            <% } else { %>
                <li class="reminder" data-role="button" data-theme="r" data-rid=<%= data[i].history[j].id %> data-vehicle-idx=<%= i %> data-reminder-idx=<%= j %>><%= data[ i ].history[ j ].reason %> - <%= data[ i ].history[ j ].trigger.value %></li>
            <% } %>
        <% } %>
    </ul>
    <% } else { %>
        <p class='white-font'>No history for this vehicle.</p>
    <% } %>
<% } %>
