<div id="sidr">
    <div id="menu" data-theme="b">
        <div class='fuse-logo-container'>
            <img class='fuse-logo' src='style/images/fuse_logo.png' title='Fuse Logo'>
        </div>
        <ul data-role="listview">
            <% for (var i = 0; i < items.length; ++i) { %>
                <% if (items[i].action.toUpperCase() === "FLEET") { %>
                    <li id="menu-item-<%= items[i].action %>"><a data-action="<%= items[i].action %>"><%= items[i].text %></a>
                        <ul class="fleet-menu" data-role="listview">
                            <!-- no easy way in jQM to automagically indent nested lists... -->
                            <% if (fleet instanceof Backbone.Collection) { %>
                                <% fleet.each(function(vehicle) { %>
                                    <li id="vehicle-<%= vehicle.get('picoId') %>" style="font-weight: bold;"><a data-action="fleet" data-vid="<%= vehicle.get('picoId') %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= fleet.get('nickname') %></a></li>
                                <% }) %>
                            <% } else { %>
                                <% for (var j = 0; j < fleet.length; ++j) { %>
                                    <li id="vehicle-<%= fleet[j].id %>" style="font-weight: bold;"><a data-action="fleet" data-vid="<%= fleet[j].id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= fleet[j].nickname %></a></li>
                                <% } %>
                        </ul>
                    </li>
                <% } else if ( items[ i ].disabled ) { %>
                    <li id="menu-item-<%= items[i].action %>" style="text-decoration: line-through;"><a style="color: grey;" data-action="<%= items[i].action %>"><%= items[i].text %></a></li>
                <% } else { %>
                    <li id="menu-item-<%= items[i].action %>"><a data-action="<%= items[i].action %>"><%= items[i].text %></a>
                <% } %>
            <% } %>
        </ul>
    </div>
</div>
