<div>
    <div class='title-bar'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-profile">Edit Profile</h3>
    </div>
    <div class='title-bar'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-preferences">Manage Preferences</h3>
    </div>
    <div class='title-bar'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-reminders">Manage Repeat Reminders</h3>
    </div>
    <div class='title-bar'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-cars">Add/Remove A Car</h3>
    </div>
    <div class='title-bar'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-reminders">Manage Repeat Reminders</h3>
    </div>
    <div class='title-bar'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-categories">Manage Trip Categories</h3>
    </div>
</div>
