<div class='fuse-logo-container'>
    <img class='fuse-logo' src='style/images/fuse_logo.png' style='margin-top: 16px;' title='Fuse Logo'>
</div>


<div class='white-font' style='color: rgba(255, 255, 255, .8); margin:0 auto; text-align: center; width:80%;'>
    <p>Preferences are controlled from the Fuse Management Console. Please <a href='http://joinfuse.com/app.html' target='_system' onclick="window.open(this.href, '_system'); return false;" style='color:white; text-shadow: none;'>login there</a> to make changes.</p>
</div>

<!-- <div> -->
  <!-- <form id="settings"> -->
  <!--   <div class="ui-grid-a"> -->
  <!--     <div class="ui-block-a"> -->
  <!--       <p class="white-font"> -->
  <!--           Debug Mode -->
  <!--       </p> -->
  <!--     </div> -->
  <!--     <div class="ui-block-b"> -->
  <!--       <select id="preference-debug-mode" name="debug-mode" data-role="slider" data-theme="a" data-track-theme="a"> -->
  <!--           <option value="off">Off</option> -->
  <!--           <option value="on">On</option> -->
  <!--       </select> -->
  <!--     </div> -->
  <!--    </div> -->
  <!--  </form> -->
    <!-- <div class='title-bar border-bottom'> -->
    <!--     <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a> -->
    <!--     <h3 class='title-font white-font' data-action="settings-profile">Profile</h3> -->
    <!-- </div> -->
    <!-- <div class='title-bar border-bottom'> -->
    <!--     <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a> -->
    <!--     <h3 class='title-font white-font' data-action="settings-preferences">Preferences</h3> -->
    <!-- </div> -->
    <!-- <div class='title-bar border-bottom'> -->
    <!--     <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a> -->
    <!--     <h3 class='title-font white-font' data-action="settings-cars">Cars</h3> -->
    <!-- </div> -->
    <!-- <div class='title-bar border-bottom'> -->
    <!--     <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a> -->
    <!--     <h3 class='title-font white-font' data-action="settings-categories">Categories</h3> -->
    <!-- </div> -->
<!-- </div> -->