<div>
    <div class='title-bar border-bottom'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-profile">Profile</h3>
    </div>
    <div class='title-bar border-bottom'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-preferences">Preferences</h3>
    </div>
    <div class='title-bar border-bottom'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-cars">Cars</h3>
    </div>
    <div class='title-bar border-bottom'>
        <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
        <h3 class='title-font white-font' data-action="settings-categories">Categories</h3>
    </div>
</div>
