<div class='data-split'>
    <div class='data-left'>
        <h3 class='title-font white-font'><%= leftData %></h3>
        <p class='white-font'><%= leftLabel %></p>
    </div>
        <h3 class='title-font white-font'><%= centerData %></h3>
        <p class='white-font'><%= centerLabel %></p>
    <div class='data-center'>
    </div>
    <div class='data-right'>
        <h3 class='title-font white-font'><%= rightData %></h3>
        <p class='white-font'><%= rightLabel %></p>
    </div>
</div>
