<div class='ui-alt-icon month-header'>
    <a class="absolute right ui-btn ui-shadow ui-corner-all ui-icon-carat-r ui-btn-icon-notext"></a>
    <a class="absolute left ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-notext"></a>
    <h3 class='title-font center-text'> <%=Fuse.longMonths[4]%> </h3>
</div>

<div class='info-group'>
    <div class='dark-header'>
        <h3 class='title-font white-font'>Fleet Totals</h3>
    </div>
    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/trip_icon_b.png" style="width: 20px;">
        </div>
        <span class='margin-off'><%= FTH.commaSeperateNumber( totals.trip.distance ) %> miles.</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/time_icon_b.png" style="width: 18px;">
        </div>
        <span class='margin-off'><%= FTH.formatDuration(totals.trip.time, "H:M")%> travel time.</span>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/cost_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>$<%= FTH.commaSeperateNumber( totals.trip.cost ) %> spent on fuel.</span>
    </div>
</div>

<div class="vehicle-data">
    <a id="export-trips" data-role="button">Export Trip Data</a>
</div>

<div class='info-group'>
    <% for( var i = 0; i < aggs.length; ++i ) { %>
        <%= aggs[ i ].outerHTML %>
    <% } %>
</div>
