<li>
    <a>
        <div style="height: 32px">
            <p class='absolute top'><strong><% if ( typeof name !== "undefined" && name.length > 0 ) { %><%= name %>, <% } %><%= FTH.formatDate( endTime, { only: { time: true } } ) %></strong></p>
            <p class='absolute top some-right'><% if ( typeof cost !== "undefined" ) { %> $<%= cost %><% } %></p>
            <p class='absolute bottom'><% if ( typeof mileage !== "undefined" && mileage ) { %> <%= parseFloat( mileage ).toFixed( 1 ) %> miles<% } %></p>
            <p class='absolute bottom some-right'><% if ( typeof category !== "undefined" && category !== "none" ) { %> <%= category %><% } %></p> 
        </div>
    </a>
</li>
