<div class='title-bar'>
    <a class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
    <h3 class='title-font white-font'>
        <% if (typeof profileName !== 'undefined' && profileName) { %> 
            <%= profileName %> 
        <% } else { %> 
            <%= label %>
        <% } %>
    </h3>
</div>

<div class="vehicle-data">
    <div class="icon-box dark">
        <img src="style/images/fuel_icon_b.png" style="width: 16px;">
    </div>
    <span class='margin-off'>
        <% if (typeof distance !== 'undefined') { %>
            <%= FTH.commaSeperateNumber(distance) %> miles traveled
        <% } else { %>
            unknown distance traveled
        <% } %>
    </span>
</div>
