<div class="trip-detail-container info-group">

    <div class='dark-header'>
        <h3 class='title-font white-font'>Trip Map</h3>
    </div>
    <div id="trip-map">
    </div>

    <div class='dark-header'>
        <h3 class='title-font white-font'>Details</h3>
    </div>
    <div class="vehicle-data">
        <h4>Name:</h4>
        <input id="trip-name" type="text" placeholder="Eg. Commute, Grocery Shopping, Golf Trip, etc." style="text-align: center;">
    </div>
    <div class="vehicle-data">
        <h4>Category:</h4>
        <select id="category-select">
            <option value="none" disabled selected>None</option>
            <option value="business">Business</option>
            <option value="medical">Medical</option>
            <option value="moving">Moving</option>
            <option value="charitable">Charitable</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/time_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>Start time: <%= FTH.formatDate( data.startTime ).toLocaleTimeString() %></span>
    </div>
    <div class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/time_icon_b.png" style="width: 12px;">
        </div>
        <span class='margin-off'>End time: <%= FTH.formatDate( data.endTime ).toLocaleTimeString() %></span>
    </div>

    <% if ( data.mileage ) { %>
        <div class="vehicle-data">
            <div class="icon-box dark">
                <img src="style/images/trip_icon_b.png" style="width: 12px;">
            </div>
            <span class='margin-off'><%= data.mileage %> miles</span>
        </div>
    <% } %>

    <% if ( data.cost ) { %>
        <div class="vehicle-data">
            <div class="icon-box dark">
                <img src="style/images/cost_icon_b.png" style="width: 12px;">
            </div>
            <span class='margin-off'>$<%= data.cost %></span>
        </div>
    <% } %>

    <div class="vehicle-data">
        <a id="trip-name-btn" data-role="button">Save</a>
    </div>
</div>
