<div class='ui-alt-icon month-bar'>
    <a id='next-month' class="absolute right ui-btn ui-icon-carat-r ui-btn-icon-notext"></a>
    <a id='previous-month' class="absolute left ui-btn ui-icon-carat-l ui-btn-icon-notext"></a>
    <h3 id='month' class='title-font center-text'> <%=Fuse.longMonths[Fuse.currentMonth]%> </h3>
</div>

<div class='title-bar totals'>
    <h3 class='title-font white-font'>Fleet Totals</h3>
</div>

<div class='data-divide totals'>
    <div class='data-left'>
        <h3 class='title-font white-font'><%= FTH.commaSeperateNumber( total.distance.toFixed(2) )  %></h3>
        <p class='white-font'> Miles </p>
    </div>
    <div class='data-center'>
        <h3 class='title-font white-font'><%= FTH.formatTime( total.time )%></h3>
        <p  class='white-font'> <%= FTH.getTimeUnit( total.time )%></p>
    </div>
    <div class='data-right'>
        <h3 class='title-font white-font'>$<%= FTH.commaSeperateNumber( total.cost.toFixed(2) )  %></h3>
        <p  class='white-font'> Fuel Cost </p>
    </div>
</div>

<% for( var i = 0; i < aggs.length; ++i ) { %>
    <%= aggs[ i ].outerHTML %>
<% } %>

<button id='export-trips' class="ui-btn ui-shadow-icon ui-btn-b margin-off">Export Trip Data</button>
