<ul data-role="listview" data-inset="false">
    <li class="fleet-item-bar">
        <img src="<%= profilePhoto %>" class="car-thumbnail">
        <h1 class='margin-off title-font white-font'> <%= profileName %></h1>
        <% if ( make !== "none" && model !== "none" ) { %>
            <p class="margin-off detail-font white-font"> <%= make %> <%= model %></p>
        <% } %>
    </li>
    <li class="vehicle-data">
    <% if (fuellevel >= 20) { %>
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" style="width: 16px;">
    <% } else { %>
        <div class="icon-box red">
            <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" style="width: 16px;">
    <% } %>
        </div>
        <span class='margin-off'><%= fuellevel %>% fuel remaining</span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/location_icon_b.png" title="Location"  style="width: 14px;">
        </div>

        <% if (speed > 0) { %>
            <span class='margin-off'><%= speed %> MPH on <%= address %></span>
        <% } else { %>
            <span class='margin-off'>Parked at <%= address %></span>
        <% } %>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/dashboard_icon_b.png" title="Odometer"  style="width: 16px;">
        </div>
            <span class='margin-off'><%= mileage %> miles
	    </span>
    </li>
    <li class="vehicle-data">
     <% if (voltage >= 12.1) { %>
        <div class="icon-box dark">
            <img src="style/images/dashboard_icon_b.png" title="Battery" style="width: 16px;">
    <% } else { %>
        <div class="icon-box red">
            <img src="style/images/dashboard_icon_b.png" title="Battery" style="width: 16px;">
    <% } %>
        </div>
          <% if (voltage === "unknown") { %>
            <span class='margin-off'>Battery: unknown</span>
          <% } else { %>
            <span class='margin-off'>Battery: <%= voltage %>V</span>
          <% } %>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/dashboard_icon_b.png" title="coolant temperature"  style="width: 16px;">
        </div>
          <% if (coolantTemperatureFaren !== "unknown") { %>
            <span class='margin-off'>Coolant: <%= coolantTemperatureFaren %>&deg; F </span>
          <% } else { %>
            <span class='margin-off'>Coolant: unknown</span>
          <% } %>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/time_icon_b.png" title="Last Running"  style="width: 16px;">
        </div>
            <span class='margin-off'>Last running 
	      <%= FTH.formatDate( lastRunningTimestamp, { format: { with: "MMM DD YYYY" } } ) %>,  
    	      <%= FTH.formatDate( lastRunningTimestamp, { only: { time: true } } ) %>
	    </span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" title="Year/Make/Model"  style="width: 16px;">
        </div>
          <% if (typeof year !== "undefined" && year) { %>
            <span class='margin-off'>Year manufactured: <%= year %>  </span>
          <% } else { %>
            <span class='margin-off'>Year manufactured: unknown </span>
          <% } %>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" title="License"  style="width: 16px;">
        </div>
            <span class='margin-off'>License: <%= license %>
	    </span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" title="VIN"  style="width: 16px;">
        </div>
            <span class='margin-off'>VIN: <%= vin %>
	    </span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" title="Device ID"  style="width: 16px;">
        </div>
            <span class='margin-off'>Device ID: <%= deviceId %>
	    </span>
    </li>
    <a class="trigger-fillup ui-btn ui-btn-b ui-corner-all" data-role="button" style='margin:4px;'>Fill 'er Up!</a>
</ul>

<div id="fuel-popup-vehicle" class="popup" data-role="popup" data-transition="pop" data-position-to="window">
    <h5>Record Fillup</h5>
    <div id="fuel-popup-guts">
        <form id="record-fillup">
            <input id="num-gallons" type="number" placeholder="Gallons filled">
            <span style="position:absolute;left:10%;top:25.39%;">$</span>
            <input id="price-gallon" type="number" step="0.01" placeholder="Price/Gallon" style="padding-left:24px;">
            <span style="position:absolute;left:10%;top:38.39%;">$</span>
            <input id="cost" type="number" step="0.01" placeholder="Total Cost" style="padding-left:24px;">
            <input id="odometer" type="number" placeholder="Current odometer reading" title="Odometer">
            <select id="gas-station">
                <option val="default" disabled>Gas Station (Choose one)</option>
            </select>
            <button type="submit" data-theme="b">Record Fillup</button>
        </form>
    </div>
</div>