<ul data-role="listview" data-inset="false">
    <li class="fleet-item-bar">
        <img src="<%= profilePhoto %>" class="car-thumbnail">
        <h1 class='margin-off title-font white-font'> <%= profileName %></h1>
        <% if ( make !== "none" && model !== "none" ) { %>
            <p class="margin-off detail-font white-font"> <%= make %>, <%= model %></p>
        <% } %>
    </li>
    <li class="vehicle-data">
    <% if (fuellevel >= 20) { %>
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" style="width: 16px;">
    <% } else { %>
        <div class="icon-box red">
            <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" style="width: 16px;">
    <% } %>
        </div>
        <span class='margin-off'><%= fuellevel %>% fuel remaining</span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/location_icon_b.png" title="View Fuel Statistics"  style="width: 11px;">
        </div>

        <% if (speed > 0) { %>
            <span class='margin-off'><%= speed %> MPH on <%= address %></span>
        <% } else { %>
            <span class='margin-off'>Parked at <%= address %></span>
        <% } %>
    </li>
</ul>