<ul data-role="listview" data-inset="false">
    <li class="fleet-item-bar">
        <img src="<%= profilePhoto %>" class="car-thumbnail">
        <h1 class='margin-off title-font white-font'> <%= profileName %></h1>
        <% if ( make !== "none" && model !== "none" ) { %>
            <p class="margin-off detail-font white-font"> <%= make %> <%= model %></p>
        <% } %>
    </li>
    <li class="vehicle-data">
    <% if (fuellevel >= 20) { %>
        <div class="icon-box dark">
            <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" style="width: 16px;">
    <% } else { %>
        <div class="icon-box red">
            <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" style="width: 16px;">
    <% } %>
        </div>
        <span class='margin-off'><%= fuellevel %>% fuel remaining</span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/location_icon_b.png" title="View Fuel Statistics"  style="width: 11px;">
        </div>

        <% if (speed > 0) { %>
            <span class='margin-off'><%= speed %> MPH on <%= address %></span>
        <% } else { %>
            <span class='margin-off'>Parked at <%= address %></span>
        <% } %>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/dashboard_icon_b.png" title="Odometer"  style="width: 11px;">
        </div>
            <span class='margin-off'><%= mileage %> miles
	    </span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/dashboard_icon_b.png" title="voltage"  style="width: 11px;">
        </div>
          <% if (voltage != "unknown") { %>
            <span class='margin-off'>Battery: <%= voltage %>V</span>
          <% } else { %>
            <span class='margin-off'>Battery: unknown</span>
          <% } %>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/dashboard_icon_b.png" title="coolant temperature"  style="width: 11px;">
        </div>
          <% if (coolantTemperature != "unknown") { %>
            <span class='margin-off'>Coolant: <%= coolantTemperature %>&deg;</span>
          <% } else { %>
            <span class='margin-off'>Coolant: unknown</span>
          <% } %>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/time_icon_b.png" title="Last Running"  style="width: 11px;">
        </div>
            <span class='margin-off'>Last running on
	      <%= FTH.formatDate( lastRunningTimestamp, { format: { with: "MMM DD YYYY" } } ) %> at 
    	      <%= FTH.formatDate( lastRunningTimestamp, { only: { time: true } } ) %>
	    </span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" title="License"  style="width: 11px;">
        </div>
            <span class='margin-off'>License: <%= license %>
	    </span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" title="VIN"  style="width: 11px;">
        </div>
            <span class='margin-off'>VIN: <%= vin %>
	    </span>
    </li>
    <li class="vehicle-data">
        <div class="icon-box dark">
            <img src="style/images/document_icon_b.png" title="Device ID"  style="width: 11px;">
        </div>
            <span class='margin-off'>Device ID: <%= deviceId %>
	    </span>
    </li>
</ul>