/* import all external stylesheets. */
@import url(jquery.mobile-1.4.0.min.css);
@import url(tooltipster.css);
@import url(tooltipster-shadow.css);
@import url(jquery.sidr.dark.css);

#menu a {
    cursor: pointer;
}

.ui-page {
    background-color: rgb(75, 75, 75) !important;
}

div > .dark-header:first-child {
    margin-top: 0px;
}

.center-text {
    text-align: center;
}

/**
 * This is a poor man's way of vertically centering 
 * the fleet icon in the header. Let's see if we can
 * figure out a better way in the future.
 */
.fuse-header-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.month-header {
    background-color: rgb(200, 200, 200);
}

.fuse-header-container img {
    min-height: 40px;
    cursor: pointer;
}

#trips > .fuse-content {
    padding: 0px;
}

/**
 * see note below about why one must sometimes
 * use !important with style definitions in jQuery Mobile
 */
.fuse-footer {
    padding: 10px !important;
    z-index: 2;
    left:-9px; /* This keeps the icons centered */
}

.fuse-footer img {
    vertical-align: middle;
    cursor: pointer;
}

.vehicle-status-icon {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

/**
 * Normally importants are icky, but when
 * working with jQuery Mobile, you have to
 * in order to beat their specificity without
 * getting ridiculous. 
 */
.fuse-map-container {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

#directions-panel {
    position: absolute;
    background: white;
    width: 90%;
    height: 40%;
    -moz-box-shadow: 0 0 15px 5px #888;
    -webkit-box-shadow: 0 0 15px 5px #888;
    box-shadow: 0 0 15px 5px #888;
    overflow: auto;
    z-index: 1;
    bottom: 2%;
    right: 5%;
}

/* This fixes a small css glitch that shows up in the vehicle detail screen */
.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
    min-height: 0;
}

.car-thumbnail {
    border-bottom-right-radius: 48px;
    border-top-right-radius: 48px;
}

.fleet-item-header {
    height: 58px !important;
    border-width: 0px !important;
    background-color: rgba(0, 0, 0, .3) !important;
    border-top: 4px solid rgba(0,0,0,0) !important;
    border-bottom: 4px solid rgba(0,0,0,0) !important;
}

/*
I here are some test to come up with a better way of showing some of this data
*/
div.data-divide {
    width: 100%;
    height: 52px;
}

div.data-split {
    background-color: rgba(0, 0, 0, .35);
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    width: 100%;
    height: 88px;
}

div.data-split > div {
    display: inline-block;
    height: 76px;
    text-align: center;
    padding-top: 12px;
}

div.data-divide > div {
    display: inline-block;
}

div.data-split > div > * {
    margin: 0px;
    padding: 0px;
}

div.data-split > div > p, div.data-divide > div > p {
    opacity: .6;
}

div.data-split > div > h3, div.data-divide > div > h3 {
    opacity: .85;
}

div.data-split > div.data-left {
    border-right: 1px solid rgba(0, 0, 0, .3);
    width: 30%;
    float: left;
}

div.data-split > div.data-center {
    width: 38.5%;
}

div.data-split > div.data-right {
    border-left: 1px solid rgba(0, 0, 0, .3);
    width: 30%;
    float: right;
}

div.data-divide > div.data-left {
    width: 30%;
    float: left;
    text-align: right;
}

div.data-divide > div.data-right {
    width: 62%;
    float: right;
    padding-right: 8px;
}

.dark-header {
    background-color: rgba(0,0,0,.3);
    border-top: 4px solid rgba(0,0,0,0) !important;
    border-bottom: 4px solid rgba(0,0,0,0) !important;
    text-align: center;
}

.dark-header:nth-of-type(even) {
    background-color: rgba(0,0,0,.75) !important;
}

.month-header {
    padding: 4px;
    padding-top: 8px;
    background-color: rgb(200, 200, 200);
}

a.fleet-item-header:hover {
    background-color: rgba(0,0,0,.4) !important;
}

.trip:hover {
    background-color: rgba(0,0,0,.4) !important;
}

.fleet-item-info {
    padding: .2em !important;
    border-width: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.vehicle-data {
    text-overflow: ellipsis !important;
    color: #ECECEC !important;
    text-shadow: none !important;
}

li.vehicle-data {
    padding: 0px !important;
    border-width: 0px !important;
    white-space: normal !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.margin-off {
    margin: 0px !important;
}

.padding-off {
    padding: 0px !important;
}

.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c { /* We need to override the jquery mobile css*/
    width: 32.15%;
}

/**
 * This scales the map icon that is present in every
 * trip collapsible.
 */
 .fuse-trip-map-trigger > img {
    cursor: pointer;
    height: 29px;
    width: 18px;
 }

.trip-aggregate-item {
    cursor: pointer;
}

.title-font {
    font-weight: normal !important;
    padding-top: 3px !important;
    font-size: 180% !important;
    margin: 0px;
}

.detail-font {
    font-size: 100% !important;
    /*font-family: serif !important;*/
}

.white-font {
    color: white;
    text-shadow: none;
}

.footer-icon {
    padding: 0px;
    margin: 0px;
}

.icon-box {
    border-radius: .125em;
    display: inline-block;
    margin: 2px;
    padding: 4px;
    margin-left: 8px;
    padding-bottom: 0px;
    width: 22px;
    text-align: center;
    height: 22px;
}

.icon-box > img.light {
    opacity: .5 !important;
}

.icon-box.dark {
    background-color: rgba(255, 255, 255, .2);
}

.icon-box.red {
    background-color: rgba(255,100,100,.9);
}

.icon-box.green {
    background-color: rgba(80,200,80,.9);
}

/**
 * This scales the map icon that is present in every
 * trip collapsible.
 */
 .fuse-trip-map-trigger > img {
    cursor: pointer;
    height: 29px;
    width: 18px;
 }

.trip-aggregate-item, .fuel-aggregate-item {
    cursor: pointer;
}

#trip-map {
    width: 91.5%;
    margin-bottom: 8px;
}

.absolute {
    position:absolute;
    margin: 0px;
    font-size: 120% !important;
}

.top {
    top: -.35em;
}

.bottom {
    bottom: -.35em;
}

.some-right {
    right: 2.5em;
    text-align: right;
}

.right {
    right: 9px;
    text-align: right;
}

/**
 * The button that opens the fillup popup.
 */
.trigger-fillup {
    cursor: pointer;
}

/**
 * Popups should have some padding
 * and additional width.
 */
 .popup {
    padding: 15px;
    width: 80%;
 }

 /**
  * Form elements inside of popups should have
  * some vertical margin.
  */
 .popup form > * {
    margin: 17px 0;
 }
 
 #record-fillup > * {
    margin: 15px 0;
 }
 
.icon-box.light {
    background-color: rgba(0,0,0,.15);
}

/**
 * Maintenance alerts on the alert page should be
 * highlighted red.
 */
 .alert {
    color: red;
 }

 .ui-content .ui-listview, .ui-panel-inner>.ui-listview {
    margin: 0px;
}

.fuse-content {
    padding: 0px;
}

.ui-collapsible-content {
    padding: 0px;
}

 /* Red button theme for JQuery Mobile
 * - Use data-theme="r" for red versions of the default JQuery Mobile Buttons.
 ******************************************************************************************/
.ui-btn-up-r {
    border: 1px solid #721414;
    background: #AB2525;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #C54E4E),
        color-stop(1, #AB2525));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}
.ui-btn-up-r a.ui-link-inherit {
    color: #fff;
}
.ui-btn-hover-r {
    border: 1px solid #6E0000;
    background: #B64B4B;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, 
        #D47272, 
        #B64B4B);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #D47272),
        color-stop(1, #B64B4B));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D47272', EndColorStr='#B64B4B')";
}
.ui-btn-hover-r a.ui-link-inherit {
    color: #fff;
}
.ui-btn-down-r {
    border: 1px solid #772222;
    background: #C54E4E;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
    background-image: -webkit-gradient(linear,left top,left bottom,
        color-stop(0, #9E3939),
        color-stop(1, #C54E4E));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E3939', EndColorStr='#C54E4E')";
}
.ui-btn-down-r a.ui-link-inherit {
    color: #fff;
}
.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.ui-btn-b {
    text-shadow: 0px 0px 0px black !important;
    border-color: rgba(0, 0, 0, .5) !important;
    background-color: #DB8F3C !important; /*This is the quick cheap way to alter the b theme*/
}

.ui-btn-b:hover {
    background-color: rgba(255, 255, 255, .2) !important;
    color: white !important;
}
