<div class="ui-grid-b list-item-info">
    <% if (fuelLevel >= 20) { %>
    <div class="ui-block-a round-box small-box green">
    <% } else { %>
    <div class="ui-block-a round-box small-box red">
    <% } %>
        <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" class='data-icon' style="width: 16px;">
        <span class='margin-off data-font'><%= fuelLevel %>%</span>
    </div>
    <div class="ui-block-b round-box large-box">
        <img src="style/images/location_icon_b.png" title="View Fuel Statistics" class='data-icon' style="width: 11px;">
        <% if (speed > 0) { %>
            <span class='margin-off data-font'><%= speed %> MPH on <%= address %></span>
        <% } else { %>
            <span class='margin-off data-font'>Parked at <%= address %></span>
        <% } %>
    </div>
</div>
<% if (alerts[0].code !== "0000") { %>
<div class="ui-grid-b list-item-info">
    <div class="ui-block-a alert-box small-box">
        <p class='margin-off'>Code</p>
        <p class='margin-off data-font'><%= alerts[0].code %></p>
    </div>
    <div class="ui-block-b alert-box large-box">
        <p class='margin-off'>Message</p>
        <p class='margin-off data-font'><%= alerts[0].message %></p>
    </div>
</div>
<% } %>

