<div class="fuse-footer ui-grid-b ui-bar" data-role="footer" data-position="fixed" data-theme='b'>
    <div class="fuse-footer-container ui-grid-d center-text">
        <a class="tooltip ui-block-a" data-action="trips"><img src="style/images/trip_icon_gray.png" title="View Trips" style="width: 24px;"></a>
        <a class="tooltip ui-block-b" data-action="fuelsmart"><img src="style/images/fuel_icon_gray.png" title="View Fuel Statistics" style="width: 20px;"></a>
        <a class="tooltip ui-block-c" data-action="findcar"><img src="style/images/location_icon_b.png" title="Find Your Car" style="width: 15px;"></a>
        <a class="tooltip ui-block-d" data-action="safedriver"><img src="style/images/safe_icon_gray.png" title="View Driver Statistics" style="width: 20px;"></a>
        <a class="tooltip ui-block-e" data-action="maintenance"><img src="style/images/maintenance_icon_gray.png" title="Check Maintenance Schedule" style="width: 24px;"></a>
    </div>
</div>
