<div class="fuse-footer ui-grid-b ui-bar" data-role="footer" data-position="fixed">
	<div class="fuse-footer-container ui-grid-b center-text">
		<a class="tooltip ui-block-a" data-action="trips"><img src="style/images/trip_small.png" title="view your trips"></a>
		<a class="tooltip ui-block-b" data-action="findcar"><img src="style/images/findcar_small.png" title="find your car"></a>
		<a class="tooltip ui-block-c" data-action="maintenance"><img src="style/images/maintenance_small.png" title="check maintenance schedule"></a>
	</div>
</div>
