<div data-role="panel" id="menu" data-display="push" data-theme="b">
	<ul data-role="listview">
		<li data-icon="back"><a data-action="close">Close</a></li>
		<% for (var i = 0; i < items.length; ++i) { %>
			<% if (items[i].action.toUpperCase() === "VEHICLES") { %>
				<li id="menu-item-<%= items[i].action %>"><a data-action="<%= items[i].action %>"><%= items[i].text %></a>
					<ul data-role="listview">
						<!-- no easy way in jQM to automagically indent nested lists... -->
						<% for (var j = 0; j < vehicles.length; ++j) { %>
							<li id="vehicle-<%= vehicles[j].id %>" style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= vehicles[j].nickname %></li>
						<% } %>
					</ul>
				</li>
			<% } else { %>
				<li id="menu-item-<%= items[i].action %>" style="text-decoration: line-through;"><a style="color: grey;" data-action="<%= items[i].action %>"><%= items[i].text %></a>
			<% } %>
		<% } %>
	</ul>
</div>
