<h3>Totals</h3>
<div class="trip-aggregate-totals ui-grid-b list-item-info">
    <div class="ui-block-a round-box">
        <p class='margin-off'>Miles</p>
        <h3 class='margin-off'><%= FTH.commaSeperateNumber( totals.trip.distance ) %></h3>
    </div>
    <div class="ui-block-b  round-box">
        <p class='margin-off'>Time</p>
        <h3 class='margin-off'><%= FTH.msToTime(totals.trip.time) %></h3>
    </div>
    <div class="ui-block-c  round-box">
        <p class='margin-off'>Cost</p>
        <h3 class='margin-off'>$<%= FTH.commaSeperateNumber( totals.trip.cost ) %></h3>
    </div>
</div>
<% for ( var i = 0; i < aggs.length; ++i ) { %>
    <%= aggs[ i ].outerHTML %>
<% } %>
