<div class='dark-header' style='margin-top: 0px;'>
    <h3 class='title-font white-font'>Trip Totals</h3>
</div>
<div class="vehicle-data">
    <div class="icon-box dark">
        <img src="style/images/trip_icon_b.png" style="width: 20px;">
    </div>
    <span class='margin-off'><%= FTH.commaSeperateNumber( totals.trip.distance ) %> miles</span>
</div>

<div class="vehicle-data">
    <div class="icon-box dark">
        <img src="style/images/time_icon_b.png" style="width: 18px;">
    </div>
    <span class='margin-off'><%= FTH.msToTime(totals.trip.time) %> of travel time</span>
</div>

<div class="vehicle-data">
    <div class="icon-box dark">
        <img src="style/images/cost_icon_b.png" style="width: 12px;">
    </div>
    <span class='margin-off'>$<%= FTH.commaSeperateNumber( totals.trip.cost ) %> spent on fuel</span>
</div>
<% for ( var i = 0; i < aggs.length; ++i ) { %>
    <%= aggs[ i ].outerHTML %>
<% } %>
