<ul data-role="listview" data-inset="false">
    <li>
        <img src="<%= icon %>" class="car-thumbnail">
        <h1 class="margin-off title-font"> <%= nickname %></h1>
        <p> <%= make %>, <%= model %></p>
    </li>
    <li class="detail-item-info">
        <div class="ui-grid-b list-item-info">
            <% if (fuelLevel >= 20) { %>
            <div class="ui-block-a round-box small-box green">
            <% } else { %>
            <div class="ui-block-a round-box small-box red">
            <% } %>
                <img src="style/images/fuel_icon_b.png" title="View Fuel Statistics" class='data-icon' style="width: 16px;">
                <span class='margin-off data-font'><%= fuelLevel %>%</span>
            </div>
            <div class="ui-block-b round-box large-box">
                <img src="style/images/location_icon_b.png" title="View Fuel Statistics" class='data-icon' style="width: 11px;">
                <% if (speed > 0) { %>
                    <span class='margin-off data-font'><%= speed %> MPH on <%= address %></span>
                <% } else { %>
                    <span class='margin-off data-font'>Parked at <%= address %></span>
                <% } %>
            </div>
        </div>
    </li>
    <% if (alerts[0].code !== '0000') { %>
    <li class="detail-item-info">
        <div class="ui-grid-b list-item-info">
            <div class="ui-block-a alert-box small-box">
                <img src="style/images/alert_icon_b.png" title="View Fuel Statistics" class='data-icon' style="width: 12px;">
                <span class='margin-off data-font'><%= alerts[0].code %></span>
            </div>
            <div class="ui-block-b alert-box large-box">
                <span class='margin-off data-font'><%= alerts[0].message %></span>
            </div>
        </div>
    </li>
    <% } %>
    <% if (notes.length > 0) { %>
    <li class="detail-item-info">
        <div class="list-item-info">
            <div class="round-box" id="vehicle-notes-box">
                <p class='margin-off'>Notes</p>
                <h3 id="vehicle-notes" class='margin-off'><%= notes %></h3>
            </div>
        </div>
    </li>
    <% } %>
</ul>
