<ul data-role="listview" data-inset="false">
    <li>
        <img src="<%= icon %>" class="car-thumbnail">
        <h1> <%= nickname %>
            <% if (running) { %>
                <img src="style/images/vehicle_on.png" class="vehicle-status-icon" title="Vehicle is on">
            <% } else { %>
                <img src="style/images/vehicle_off.png" class="vehicle-status-icon" title="Vehicle is off">
            <% } %>
        </h1>
        <p> <%= make %>, <%= model %></p>
    </li>
    <li class="detail-item-info">
        <div class="ui-grid-b list-item-info">
            <div class="ui-block-a round-box small-box">
                <p class='margin-off'>Fuel</p>
                <h3 class='margin-off'><%= fuelLevel %>%</h3>
            </div>
            <div class="ui-block-b round-box large-box">
                <p class='margin-off'>Location</p>
                <% if (speed > 0) { %>
                    <h3 class='margin-off'><%= speed %> MPH on <%= address %></h3>
                <% } else { %>
                    <h3 class='margin-off'>Parked at <%= address %></h3>
                <% } %>
            </div>
        </div>
    </li>
    <li class="detail-item-info">
        <div class="ui-grid-b list-item-info">
            <div class="ui-block-a round-box">
                <p class='margin-off'>Battery Charge</p>
                <h3 class='margin-off'><%= batteryVoltage %></h3>
            </div>
            <div class="ui-block-b round-box">
                <p class='margin-off'>Miles</p>
                <h3 class='margin-off'><%= FTH.commaSeperateNumber(mileage) %></h3>
            </div>
            <div class="ui-block-b round-box">
                <p class='margin-off'>MPG</p>
                <h3 class='margin-off'><%= mpg %></h3>
            </div>
        </div>
    </li>
    <li class="detail-item-info">
        <div class="list-item-info">
            <% if (notes.length > 0) { %>
            <div class="round-box" id="vehicle-notes-box">
                <p class='margin-off'>Notes</p>
                <h3 id="vehicle-notes" class='margin-off'><%= notes %></h3>
            </div>
            <% } %>
        </div>
    </li>
</ul>
