<ul data-role="listview" data-inset="true">
    <li>
        <h3 class="center-text">[map will go here]</h3>
    </li>
</ul>
<ul data-role="listview" data-inset="true">
    <li>
        <img src="<%= icon %>">
        <h2> <%= nickname %> </h2>
        <p> <%= year %> <%= make %>, <%= model %> </p>
    </li>
</ul>
<ul data-role="listview" data-inset="true">
    <li>
        <p> <strong>Mileage:</strong> <%= mileage %> MPG</p>
    </li>
    <li>
        <p> <strong>VIN:</strong> <%= vin %> </p>
    </li>
    <li>
        <p> <strong>Speed:</strong> <%= speed %> MPH</p>
    </li>
    <li>
        <p> <strong>Battery Voltage:</strong> <%= batteryVoltage %> </p>
    </li>
    <li>
        <p> <strong>Fuel Level:</strong> <%= fuelLevel %> Gallons</p>
    </li>
    <li>
        <p> <strong>Notes:</strong> <%= notes %> </p>
    </li>
</ul>
