<ul data-role="listview" data-inset="true">
    <li>
        <img src="<%= icon %>">
        <h2> <%= nickname %> </h2>
        <p> <%= year %> <%= make %>, <%= model %> </p>
    </li>
</ul>
<ul data-role="listview" data-inset="true" class='ui-grid-b'>
    <li class='ui-block-a center'>
        <p> Mileage </p>
        <h1> <%= mileage %> </h1>
        <p> MPG </p>
    </li>
    <li class='ui-block-b  center'>
        <p> Speed </p>
        <h1> <%= speed %></h1>
        <p> MPH </p>
    </li>
    <li class='ui-block-c  center'>
        <p> Battery </p>
        <h1> <%= batteryVoltage %> </h1>
        <p> Volts </p>
    </li>
</ul>
<ul data-role="listview" data-inset="true">
    <li>
        <h1 class="notes-header">Notes, </h1>
        <p class="normal-white-space"><%= notes %></p>
    </li>
</ul>
